:root {
  --primary-bg-color: black;
  --navbar-bg-color: #131313;
  --text-color: #f4a524;
  --link-hover-color: #000000;
  --link-hover-bg-color: #f4a524;
  --card-bg-color: #1c1c1c;
  --card-text-color: #ffffff;
  --card-border-radius: 8px;
}

body {
  background-color: var(--primary-bg-color);
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.navbar {
  background-color: var(--navbar-bg-color);
  padding: 10px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.logo h1 {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-links a:hover {
  color: var(--link-hover-color);
  background-color: var(--link-hover-bg-color);
}

.containerProduct {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
  width: 20rem;
  min-height: 23rem;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  margin-right: 2rem;
  border-radius: var(--card-border-radius);
  transition: all 0.3s ease-in-out;
}

.productCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerImg {
  height: 23rem;
  overflow: hidden;
}

.productCard h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.productCard p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.productCard button {
  width: 100%;
  height: 3rem;
  background-color: var(--link-hover-bg-color);
  color: var(--link-hover-color);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: medium;
  font-family: sans-serif;
  font-weight: 400;
  z-index: 10;
}

.productCard button:hover {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
}

.containerDatos {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.datos {
  background-color: var(--card-bg-color);
  position: absolute;
  border-radius: var(--card-border-radius);
  bottom: -3rem;
  display: flex;
  flex-direction: column;
  padding: 0 1rem 0 1rem;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.productCard:hover .datos {
  bottom: 2.7rem;
  cursor: pointer;
}

.price {
  width: 100%;
  text-align: center;
}

.datos h2 {
  color: var(--link-hover-bg-color);
  
}

.datos p {
  font-size: medium;
  text-align: justify;
  margin-top: 0;
}

.containerForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: var(--text-color);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentForm {
  width: 100%;
}

.formContainer {
  background-color: var(--navbar-bg-color);
  width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 2rem;
  border-radius: var(--card-border-radius);
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.formGroup label {
  color: var(--link-hover-bg-color);
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.formInput {
  padding: 0.5rem;
  border: 1px solid var(--navbar-bg-color);
  border-radius: 4px;
  background-color: #080808;
  color: var(--text-color);
}

.formButton {
  width: 100%;
  height: 3rem;
  background-color: var(--link-hover-bg-color);
  color: var(--link-hover-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 400;
}

.formButton:hover {
  background-color: var(--navbar-bg-color);
  color: var(--text-color);
}